pipeline/copyfromonprem2sqlwithproc.json
{
	"name": "copyfromonprem2sqlwithproc",
	"properties": {
		"activities": [
			{
				"name": "copysheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "droptables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.sheetnames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyfromonprem2sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPremFile",
									"type": "DatasetReference",
									"parameters": {
										"Sheetname": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestDS",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "droptables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Supplier].[droptablesfinal]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"sheetnames": {
				"type": "array",
				"defaultValue": [
					"Date",
					"DefectType",
					"Vendor",
					"Category",
					"Plant",
					"Metrics",
					"MaterialType",
					"Defect"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-11-02T06:50:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}