pipeline/copyonprem2sql.json
{
	"name": "copyonprem2sql",
	"properties": {
		"activities": [
			{
				"name": "foreachnextsheet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copyfirst",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.sheetnames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copysheet2sqldb",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPremFile",
									"type": "DatasetReference",
									"parameters": {
										"sheetnames": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLdest",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "copyfirst",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table [Supplier].[Category]\ndrop table [Supplier].[Date]\ndrop table [Supplier].[DefectType]\ndrop table [Supplier].[Defect]\ndrop table [Supplier].[MaterialType]\ndrop table [Supplier].[Metrics]\ndrop table [Supplier].[Plant]\ndrop table [Supplier].[Vendor]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OnPremFile",
						"type": "DatasetReference",
						"parameters": {
							"sheetnames": "Date"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLdest",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "Date"
						}
					}
				]
			}
		],
		"parameters": {
			"sheetnames": {
				"type": "array",
				"defaultValue": [
					"DefectType",
					"Vendor",
					"Category",
					"Plant",
					"Metrics",
					"MaterialType",
					"Defect"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-10-29T10:14:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}